<p>Click the link below to sign in to Food Plotter. It expires in 15 minutes.</p>
<p><a href="<%= @verify_url %>">Sign in to Food Plotter</a></p>
<p style="color:#888;font-size:12px;">Or copy this URL into your browser:<br><%= @verify_url %></p>
<p style="color:#888;font-size:12px;">If you didn't request this, you can ignore this email.</p>
